#rate_rating {
    border: none;
    float: left;
}

#rate_rating > .radio > label > input { display: none; }
#rate_rating > .radio > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

#rate_rating > .radio > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

#rate_rating > .radio > label > input:checked ~ label, /* show gold star when clicked */
#rate_rating > .radio > label > input:not(:checked) > #rate_rating > .radio > label:hover, /* hover current star */
#rate_rating > .radio > label > input:not(:checked) > #rate_rating > .radio > label:hover ~ label { color: #FFD700 !important;   } /* hover previous stars in list */

#rate_rating > .radio > label > input:checked + #rate_rating > .radio > label:hover, /* hover current star when changing rating */
#rate_rating > .radio > label > #rate_rating > .radio > label > input:checked ~ label:hover,
#rate_rating > .radio > label:hover ~ #rate_rating > .radio > label > input:checked ~ label, /* lighten current selection */
#rate_rating > .radio > label > input:checked ~ #rate_rating > .radio > label:hover ~ label { color: #FFED85;  } 