{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-4 col-md-offset-8">
        <h3 class="title">{% if books|length == 0 %}No books found!{% else %}Latest books{{ books|length }}{% endif %}</h3>
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item">
                    {{ book.title }}
                    <a href="{{ path('view_the_book', {id: book.id}) }}" class="btn btn-info btn-sm"><i class="fa fa-edit"></i>View</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}