<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
    {% endblock %}
</head>
<body>
<div class="contain-to-grid sticky" data-topbar>
        {% block navigation %}
            <nav class="top-bar" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">My Site</a></h1>
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>
            </nav>
        {% endblock %}
</div>
{% block body %} {% endblock %}
</body>
</html>