{% extends '@App/book/_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            {{ include('@App/book/_form.html.twig') }}
        </div>
    </div>
{% endblock %}